body {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    margin: 0 auto  ;
  }
  .container-fluid{
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #FFF;
  }
  /* ============= Animation background ========= */
  .background {
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 150vh ;
    width: 100%;
    overflow: hidden;
    padding:0;
    margin:0px;
    background-repeat: repeat;
  }
  .cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
  }
  .cube:nth-child(2n) {
    border-color: #FFF ;
  }
  .cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
  }
  .cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
  }
  .cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
  }
  .cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
  }
  .cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
  }
  /* ================= Header ============ */
  header{
    position: absolute;
    top:0%;
    left: 0%;
    width:100%;
    margin: 0;
    padding: 0;
  }
  /* navbar */
  nav{
    color: #FFF;
    float: right;
    margin:30px 90px;
  }
  nav ul{
    list-style: none;
  }
  nav ul li {
    float: left;
    transition: .3s;
  }
  nav ul li a{
    text-decoration: none;
    color: #EFEEF5;
    transition: .5;
    font-size: 15px;
    margin-left:16px;
  }
  nav ul li:hover a{
    text-decoration: none;
    color: #591BC5;;
  }
  nav ul li:hover{
    height: 45px;
    padding-top: 30px;
    margin-top: -30px;
   background: #EFEEF5;
    text-decoration: none;
    transform: skew(15deg);
  }
  /* Logo */
  .logo{
    width: 35px;
    height: 35px;
    background: #EFEEF5;
    margin: 40px 63px;
    float: left;
    transform: rotate(-30deg);
  }
  .logo span{
    color: #591BC5;
    font-size: 2em;
    line-height: 1.4;
    padding-left: 5px;
    font-weight: bold;
  }

   /* Animate Background*/
   @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }

}


h1, h2, h3{
    color: white;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    margin-top: -1px;
}


   
.uslugi{
    padding-top: 120px;
    width: 500px;
    align-items: center;
    text-align: center;
    padding-left: 523px;
}
        h1 {
            color: #ffffff;
            text-align: center;
        }

        .uslugi ul {
            list-style-type: none;
            padding: 0;
        }

        .uslugi li {
          background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
          
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;
            font-size: 18px;
            opacity: 0;
            transform: translateY(20px);
            animation: fadeInUp 1s ease-out forwards;
            transition: transform 0.3s;
        }
        li:hover {
            transform: translateY(0) scale(1.05);
        }

        li:nth-child(2) {
            animation-delay: 0.2s;
        }

        li:nth-child(3) {
            animation-delay: 0.4s;
        }

        li:nth-child(4) {
            animation-delay: 0.6s;
        }

        li:nth-child(5) {
            animation-delay: 0.8s;
        }

        li:nth-child(6) {
            animation-delay: 1s;
        }

        li:nth-child(7) {
            animation-delay: 1.2s;
        }

        @keyframes fadeInUp {
            0% {
                opacity: 0;
                transform: translateY(20px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }

        }

        a{
            text-decoration: none;
            color: #e8dbff;
        }

       